<br />

<div class="row mb-4">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-center text-white mb-4 mb-lg-0" id="total-orders">
        <div class="card-header">
          <h5 class="card-title">Total Orders</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{total_orders}}</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-center text-white mb-4 mb-lg-0" id="orders-delivered">
        <div class="card-header">
          <h5 class="card-title">Orders Delivered</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{delivered}}</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-center text-white mb-4 mb-lg-0" id="out-for-delivery">
        <div class="card-header">
          <h5 class="card-title">Out For Delivery</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{out_for_delivery}}</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-center text-white mb-4 mb-lg-0" id="orders-pending">
        <div class="card-header">
          <h5 class="card-title">Orders Pending</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{pending}}</h3>
        </div>
      </div>
    </div>
</div>
