{% extends 'main.html' %} 
{% block content %} 

<div class="col-12 col-md-8 col-lg-6 mx-auto">
	<div class="card card-body">
		<div class="card-header">
			<h5 class="text-white">Password reset</h5>
		</div>			
		<hr class="bg-secondary"/>
		<p class="text-white ">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
		<div class="form-group">		
			<form method="POST" >
				{% csrf_token %}
				<div class="form-group">
					<label for="">Email address</label>
					{{form.email}}
				</div>

				<input type="Submit" name="Send email" class="btn btn-block btn-primary mt-4">

			</form>
		</div>	
	</div>
</div>

{% endblock content %}